<div id='log_in'>
  <fieldset>
    <legend>Log in</legend>
    <form action="/get_user" method="GET">
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Enter your email">
      <input type="submit" value="Log in">
    </form>
  </fieldset>
</div>
