/* Let's put some makeup! */
@font-face {
  font-family: "MyFont";
  src: url(/css/fonts/minisystem.ttf) format(truetype);
}

body {
  background-image: url(/src/Daft-Punk-Wallpaper.jpg);
  background-repeat: none;
  background-size: 100% 100%;
  padding-top: 1em;
}

label {
  color: #DA6100 !important;
}

input, select {
  background-color: rgba(0,0,0,0.4) !important;
  border-color: #2A2827 !important;
  color: #DA6100 !important;
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

a {
  color: #DA6100 !important;
}

#log_in{
  background-color: rgba(20,20,20,0.7);
  box-shadow: 0em 0em 1em #DA6100;
  padding: 1em;
  border-radius: 1em;
}

#log_in fieldset legend {
  background-color: transparent !important;
  color: #DA6100 !important;
}

.player {
  background-color: rgba(25,0,0,0.7);
  border-radius: 1em;
  box-shadow: 0em 0em 1em #DA6100;
  padding: 0.5em;
  color: #DA6100 !important;
}

.radio-timer {
  display: inline-block;
  margin-right: 1em;
}

#timer {
  background-color: rgba(209, 117, 25,0.1);
  border: 1px solid #2A2827;
  float: right;
  margin-right: 0;
}

#timer-p {
  font-family: 'MyFont', Courier, monospace;
  margin-bottom: 0;
  padding: 0.2em;
  padding-top: 0.04em;
}

#song-title-container {
  background-color: rgba(209, 117, 25,0.1);
  margin-bottom: 0;
}

#song-title {
  font-family: 'MyFont', Courier, monospace;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0.4);
  padding: 0.2em;
  border: 1px solid #2A2827;
  height: 2em;
}

#player-controllers {
  margin-top: 2em;
  text-align: center;
}

#play-btn {
  display: none;
}

.btn {
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  margin: 1em;
  padding: 0;
  margin-bottom: 0.2em;
  border-radius: 100%;
}

#progress-bar-container {
  margin-top: 0;
  background-color: rgba(0,0,0,0.4);
  height: 0.25em;
}

#progess-bar {
  margin-top: 0;
  background-color: #DA6100;
  margin: 0;
  padding: 0;
  height: 0.2em;
  width: 0;
}

.new-log {
  display: inline-block;
  float: right;
  margin-left: 0.5em;
  margin-right: 1em;
}

#new-radio-button {
  width: 2em;
}

#logout-button {
  margin-top: 0.27em;
  width: 1.5em;
}

#new-radio {
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #2A2827;
  position: absolute;
  padding: 1em;
  width: 29.8em;
  display: none;
}

#player-list {
  background-color: rgba(209, 117, 25,0.1);
  overflow: auto;
  border: 1px solid #2A2827;
  height: 15em;
  padding-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#player-list::-webkit-scrollbar {
  background-color: transparent;
  width: 0.3em;
}

#player-list::-webkit-scrollbar-thumb{
  background-color:#2A2827;
  border-radius: 2em;
}

.plylist-element {
  display: inline-block;
  margin: 0;
}

.delete-radio {
  float: right;
  margin-right: 0.5em;
}

#player-list li {
  font-family: 'MyFont', Courier, monospace;
}

.light-up {
  background-color: rgba(204,82,0,0.4);
}

.presed-button {
  height: 2.4em;
  width: 2.4em;
  padding: 0;
  margin-right: 1.1em;
  background-color: rgba(209, 117, 25,0.1);
  box-shadow: 0em 0em 1em #DA6100;
}

.radio-logout {
  width: 1.8em;
  height: 1.8em;
  padding: 0.1em;
  margin-left: 0.6em;
  margin-right: 1.1em;
  margin-bottom: 0.2em;
}

#headsets-logo-container {
  width: 4em;
  height: 4em;
  padding: 0;
}
